<ion-view title="{{'about_navTitle'|translate}}" left-buttons="leftButtons">

    <ion-content has-header="true" padding="true">

        <h1 translate="about_us">About us</h1>
        <p translate="about_info">LostFound is a web-based system that will allow users to report lost or found items on Campus. The system provides a simple and user friendly interaction with the user. Every user that wants to browse across any of the versions of this web-app will be able to do so without any registration, in case of reporting an item or making a review, some requirements  may be needed. LostFound consists of features that can make people reunite with their valuables through a very intuitive navigation across the web.</p>

        <p><div class="list">

        <div class="item item-divider" >
            <span translate="contact_us">Contact Us:</span>
        </div>

        <a class="item" ng-disable = "true">
            irving.ramirez@upr.edu
        </a>
        <a class="item">
            Angel.delatorre@upr.edu
        </a>
        <a class="item">
            maria.rivera30@upr.edu
        </a>


    </div>
        <p></p>

    </ion-content>

</ion-view>