<ion-view title="{{'item_navTitle'|translate}}" left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-content has-header="true" padding="true">
        <div class="list card">

            <div>
                <h4>Djamsha@gmail.com</h4>
                <p><a class="button icon-left ion-ios7-telephone button-clear button-dark">787-123-4567</a></p>
                <p>November 05, 1955</p>

            </div>

            <div class="item item-body">
                <img class="full-image" src="http://static.photo.net/v3graphics/20140428/equipment/medium/2964.jpg">
            </div>

            <div class="item item-body">

                <p class="subdued"><span translate="Location:">Location:</span> Stefani</p>
                <p class="subdued"><span translate="Category:">Category:</span> Electronic</p>
                <p>
                    I lost this camera today at stafani building around 12:30pm today. Please report it if you find it or leave a comment with information.
                </p>
                <p> <a ui-sref= "main.comments" class="subdued"><span translate="Comments">Comments</span></a></p>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ui-sref="main.comments">
                    <i class="icon ion-chatbox"></i>
                    <span translate="Comments">Comments</span>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown"></i>
                    <span translate="Report">Report Post</span>
                </a>
            </div>

        </div>



    </ion-content>

</ion-view>