<ion-view title="{{'lang_navTitle'|translate}}" left-buttons="leftButtons" >

    <ion-content has-header="true" padding="true">
        <label class="item item-input item-select">
            <div class="input-label">
                <p translate = "select_Lang">Select Language:</p>
            </div>
            <ion-radio  ng-click="ChangeLanguage('esp')">SPA</ion-radio>
            <br/>
            <ion-radio ng-click="ChangeLanguage('en')">EN</ion-radio>

        </label>

    </ion-content>

</ion-view>

