<ion-view title="{{myItem_navTitle|translate}}" left-buttons="leftButtons">

    <ion-content has-header="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label" translate="Email">E-mail</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label" translate="Secret_key">SecretKey</span>
                <input type="password">
            </label>
        </div>
        <button class="button button-stable" ui-sref = 'main.myitems2'>
            <span translate="Find_items">Find items</span>
        </button>

    </ion-content>

</ion-view>