<ion-view title="{{'myItem_navTitle'|translate}}" left-buttons="leftButtons">

    <ion-content has-header="true" padding="true">

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder={{'Search'|translate}}>
                </label>
                <select width="100" style="width: 100px" >
                    <option selected >All</option>
                    <option ng-repeat = "category in categories" >{{category.name}}</option>
                </select>
            </div>
        </div>
        <div class="list" ng-repeat="item in itemspre">

            <a class="item item-thumbnail-left" ui-sref="main.specificmyitems">
                <img src={{item.imageurl}}>
                <h2><span translate="Item:">Item</span> {{item.itemname}}</h2>
                <p><span translate="Name:">Name:</span> {{item.name}}</p>
                <p><span translate="Location:">Location:</span> {{item.location}}</p>
                <p><span translate="Category:">Category:</span> {{item.categry}}</p>
                <p><span translate="Satus:">Satus:</span> {{item.status}}</p>
                <p>{{item.views}}</p>
            </a>
        </div>



    </ion-content>

</ion-view>