<ion-view title="{{myItem_navTitle|translate}}" left-buttons="leftButtons">

    <ion-content has-header="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label" translate="Email"></span>
                <input type="text" ng-model="email">
            </label>
            <label class="item item-input">
                <span class="input-label" translate="Secret_key"></span>
                <input type="password" ng-model="passkey">
            </label>
        </div>
        <button class="button button-stable" ng-click="login(email,passkey)">
            <span translate="Find_items"></span>
        </button>
        <button ng-click="check()">check</button>

        <div><p>{{nose}}</p></div>

    </ion-content>

</ion-view>