<ion-view title="{{'report_navTitle'|translate}}" left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-content has-header="true" padding="true">
        <div class="list">

            <label class="item item-input">
                <span class="input-label" translate="Item:"></span>
                <input type="text">
            </label>


            <label class="item item-input item-select">
                <div class="input-label">
                    <span translate="select_category"></span>
                </div>
                <select>
                    <option ng-selected >All</option>
                    option>Bags</option>
                    <option>Books</option>
                    <option>Clothes</option>
                    <option>Electronics</option>
                    <option>Tools</option>
                    <option>Other</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <span translate="item_status"></span>
                </div>
                <select>
                    <option><span translate="Lost"></span></option>
                    <option><span translate="Found"></span></option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label" translate="Location:"></span>
                <input type="text" ng-model="list.location">
            </label>
            <label class="item item-input">
                <span class="input-label" translate="City:"></span>
                <input type="text" ng-model="list.city">
            </label>

        </div>
        <label class="item item-input item-stacked-label">
            <span class="input-label" translate="item_description"></span>

            <textarea class="checkforms" placeholder={{'w_item_description'|translate}} rows="8" cols="10" ng-model="list.description" ng-pattern="pattern.field">
            </textarea>
        </label>

        <p><h></h></p>

        <label>
            <div class="entrybuttons">
                <p> <button class="button button-stable icon-right ion-image"
                            ng-click = "getPic()"><span translate="Upload"></span></button>

                    <button class="button button-stable icon-right ion-camera"
                            ng-click="takePic()"><span translate="Take"></span></button></p>
            </div>
        </label>
        <p><h5 translate="cont_disp"></h5></p>
        <label>
            <ul  class="list">
                <label>
                    <li class="item item-toggle">
                        <span translate="Email"> </span>
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </label>

                <p></p>

                <label>

                    <li class="item item-toggle">
                        <span translate="First_Name"> </span>
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </label>

                <p></p>

                <label>
                    <li class="item item-toggle">
                        <span translate="Phone"></span>
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </label>
            </ul>
        </label>


        <p></p>
        <p><h5 translate="send_email"></h5></p>
        <label>
            <ul  class="list">

                <li class="item item-toggle">
                    <span translate="comment_update"></span>
                    <label class="toggle toggle-dark">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </label>
        <p></p>
        <p><button class="button icon-right ion-star button-stable">
            <span translate="Preview"></span></button></p>

    </ion-content>

</ion-view>