<ion-view title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-content has-header="true" padding="true">
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Item Name</span>
                <input type="text">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Select a category of the item:
                </div>
                <select>
                    <option selected >All</option>
                    <option ng-repeat = "category in categories" >{{category.name}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Item Status:
                </div>
                <select>
                    <option>Lost</option>
                    <option>Found</option>
                </select>
            </label>

        </div>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Provide a brief description of the item</span>

            <textarea placeholder="Write description here..." rows="8" cols="10">
            </textarea>
        </label>

        <p><h></h></p>

        <label>
            <div class="entrybuttons">
                <p> <button class="button button-stable icon-right ion-image"
                            ng-click = "getPicture()" >Upload</button>

                    <button class="button button-stable icon-right ion-camera"
                            ng-click = "takePicture()" >Take</button></p>
            </div>
        </label>
        <p><h5>Select contact information to be displayed:</h5></p>
        <label>
            <ul  class="list">
                <label>
                    <li class="item item-toggle">
                        E-mail
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </label>

                <p></p>

                <label>

                    <li class="item item-toggle">
                        Name
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </label>

                <p></p>

                <label>
                    <li class="item item-toggle">
                        Phone Number
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </label>

        </label>
        </ul>

        <p></p>
        <p><h5>Send email everytime user comments:</h5></p>
        <label>
            <ul  class="list">

                <li class="item item-toggle">
                    Comment update emails
                    <label class="toggle toggle-dark">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </label>
        <p></p>
        <p><button class="button icon-right ion-star button-stable">Preview</button></p>

    </ion-content>

</ion-view>