<ion-view title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-content has-header="true" padding="true">
        <div class="list card">

            <div>
                <h4>Djamsha@gmail.com</h4>
                <p><a class="button icon-left ion-ios7-telephone button-clear button-dark">787-123-4567</a></p>
                <p>November 05, 1955</p>

            </div>

            <div class="item item-body">
                <img class="full-image" src="http://static.photo.net/v3graphics/20140428/equipment/medium/2964.jpg">
                <p>
                    I lost this camera today at stafani building around 12:30pm today. Please report it if you find it or leave a comment with information.
                </p>
            </div>
            <div class="item item-body">
                <p> <a ui-sref= "main.comments" class="subdued">5 Comments</a></p>
                <p><a href="#" class="subdued">Location: Stefani</a></p>
                <p><a href="#" class="subdued">Seen By: 100</a></p>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                </a>
                <a class="tab-item" ui-sref="main.comments">
                    <i class="icon ion-chatbox"></i>
                    Comments
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown"></i>
                    Report Post
                </a>
                <a class="tab-item" ui-sref="main.reportitem2">
                    <i class="icon ion-settings"></i>
                    Edit Post
                </a>
            </div>

        </div>



    </ion-content>

</ion-view>