<div class="row" ng-controller="languageController as vm" >
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  
  <div class="page-header text-center">
          <div class="layout">
          <h1><center>LostFound</center></h1></div>
  <div id="container" >
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="gotoTop()" href="#">LostFound</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  
                  
                    <li>
                        <a id="Adminlabel" ui-sref="form.admin.login" ng-click="gotoTop()" position="absolute" >  {{vm.translations.ADMIN}}</a>

                    </li>
                    <li>
                        <a ui-sref="form.about" ng-click="gotoTop()">{{vm.translations.ABOUT}}</a>
                    </li>
                    <li>
                        <a ui-sref="form.feedback" ng-click="gotoTop()">{{vm.translations.CONTACT}}</a>
                    </li>
                    <li>
                        <a ui-sref="form.help" ng-click="gotoTop()">{{vm.translations.HELP}}</a>
                    </li>

                     <li id="nameUser"> <input type="text" class="form-control input-sm"  placeholder="{{vm.translations.EMAIL}}" ></li>
  
              <li id="scretkeyuser">  <input type="text" class="form-control input-sm"  placeholder="{{vm.translations.SECRETKEY}}" > </li>        
                
              <li id="buttongetmypost"> <a ui-sref="form.newsfeeds"  class="btn btn-small" role="button" >{{vm.translations.MYPOST}}</a></li> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      


    
   
  </div><!-- /.container-fluid -->
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
         <div class="centre">
          <div id="status-buttons" class="text-center" >
              
              <a id ="LostStatusBtn" class="centre" ui-sref-active="active" ng-click="gotoTop()" ui-sref=".reportlost"><span>*</span>Lost </a>
              <a  class="centre" ui-sref-active="active" ng-click="gotoTop()" ui-sref=".newsfeeds"><span>*</span> {{vm.translations.HOME}}</a>
              <a class="centre" ui-sref-active="active" ng-click="gotoTop()" ui-sref=".reportfound"><span>*</span>Found</a>
          </div>
        </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view class="ng-scope"></div>
      </form>
      


  </div>
 
  <!-- show our formData as it is being typed
  <pre>
    {{ formData }}
  </pre>
 -->
</div>

 <div id="containerfooter">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li id="languageselect">
            <select  class="form-control input-sm" ng-change="vm.onchangeLanguage()" ng-model="vm.language">
            <option value="en">English</option>
            <option value="sp">Spanish</option>
             </select>
                    </li>
                    
                            
             
             
                  
                    
                </ul>
                <div id="status-buttons" class="text-right">
             <a class="centre" ui-sref-active="active" ng-click="gotoTop()" ui-sref=".reportlost"><span>*</span> Lost</a>
              <a  class="centre" ui-sref-active="active" ng-click="gotoTop()" ui-sref=".newsfeeds"><span>*</span> {{vm.translations.HOME}}</a>
              <a class="centre" ui-sref-active="active" ng-click="gotoTop()" ui-sref=".reportfound"><span>*</span> Found</a>
          </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      


    
   
  </div><!-- /.container-fluid -->
</div>