
<div ng-controller="addCommentController as commentCtrl">
    <div class="container" ng-controller="languageController">
        <div class="row">
            <div class="form-group">
                <div id = "paddingCommentBox"class="col-md-8">
                    <div class="well well-sm">
                        <div class="row">

                            <div id = "forTextArea"class="col-md-6">
                                <div class="form-group">

                                    <div class ="fields">

                                            <label for="Email">
                                                {{vm.translations.EMAIL}}</label>
                                                <input type="input" class="form-control" id="location" placeholder=" {{vm.translations.EMAIL}} " ng-model="commentCtrl.objectComment.email">

                                                
                                    </div>
                                 </div>


                                            <label for="name">
                                                {{vm.translations.COMMENT}}</label>
                                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                                placeholder="{{vm.translations.MESSAGE}}" ng-model="commentCtrl.objectComment.usercomment" ng-pattern = "commentCtrl.pattern.field"></textarea>


                                                <div class="col-md-12">
                                                    <div class="check">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="inlineCheckbox101" value="option1" ng-click="" > {{vm.translations.PRIVATE}} Falta poner un alert
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary " id="addCommentButton" ng-click="gotoTop();commentCtrl.getCommentObject(commentCtrl.objectComment)"ui-sref="form.viewitem({ item:commentCtrl.itemid})">
                                                        {{vm.translations.ADD}}</button>
                                                    </div>
                                               
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
