<div class="adminlogin" ng-controller= "LoginCtrl as LG">
     <label for="Email">
                                {{vm.translations.EMAIL}}</label>
                            <input type="text" class="form-control" id="email" placeholder="juan@gmail.com" required="require" ng-model="LG.username">
      <label for="lastUser">
                                {{vm.translations.SECRETKEY}}</label>
                            <input type="text" class="form-control" id="secretKey" placeholder="{{vm.translations.SECRETKEY}}" required="require" ng-model="LG.password">
                           

<div class="buttonLoginAdmin">


    <a ui-sref="form.admin.users" ng-click="gotoTop();LG.login(LG.username,LG.password)"class="btn btn-primary">
    {{vm.translations.LOGIN}}  </a>
</div>