<!-- <div ng-controller="adminCategoryController as categoryCtrl">
<div id = "AdminCategory">
   
</div>


<div class="panel panel-default">
  <!Default panel contents -->
 <!--  <div id = "headingUserList" class="panel-heading"> 

   <div class="col-xs-6 col-md-4">    
   <h4 align = "left"> <strong>{{vm.translations.CATEGORY}}</strong></h4>

</div>
        <div class="col-xs-6 col-md-4">
              
                 <input type="text" class="form-control" placeholder={{vm.translations.ADDCATEGORY}} id="searchBarUsers" ng-model="newCategory" > 
             </div>      
       <div id ="AddCategoryBtnDiv">                        
        <a  ui-sref="form.admin.category" ng-click="categoryCtrl.postCategories(newCategory);" id ="AddBtn" class="btn btn-primary" role="button">{{vm.translations.ADD}}</a> 
        <a ui-sref="form.admin.category" ng-click="categoryCtrl.deleteCategory(category.categoryname)" id ="AddBtn" class="btn btn-primary" role="button" >{{vm.translations.REMOVE}}</a> 
      </div> 
        

  </div> --> 
  <!-- <div class="panel-body">
    <p></p>
  </div> -->
 
  <!-- Table -->
 <!--  <table class="table">
        <thead>
          <tr>
            <th><center>{{vm.translations.SELECT}}</center></th>
            <th><center>{{vm.translations.CATEGORYNAME}}</center></th>
           
          </tr>
        </thead>
        <tbody ng-repeat="category in categoryCtrl.categories | filter:newCategory" ng-click="categoryCtrl.setValue(category.categoryname)" >
          <tr >
            <td><input type="checkbox" checklist-model="categoryname" checklist-value="category.categoryname"><td>{{category.categoryname}}</td></td>
            
            
          </tr>
          
        </tbody>
      </table>
</div>

</div>
 -->
