<!-- Page Content -->
        <div nf-controller="languageController">
    <div class="container" >

        <div id ="editItemView"class="row" ng-controller="itemViewController">

         

            <div class="col-md-7">

                <div class="thumbnail">
                    <img ng-src="{{item.itempicture}}">
                    <h4> <a> {{item.itemname}}</a> </h4>
                    <div class="caption-full" >
                        
                        <h4>{{vm.translations.FOUNDBY}} {{item.firstname}} {{item.lastname}}</h4>
                        <h4>{{vm.translations.REPORTEDDATE}}: {{item.itemdate}}</h4>
                        <h4>{{vm.translations.SUCCESDATE}}: {{item.itemsuccessdate}}</h4>
                         <h4>{{vm.translations.ITEMID}}: {{item.itemid}}</h4>
                          <h4>{{vm.translations.LOCATION}}: {{item.locationitem}}</h4>
                          <h4>{{vm.translations.DESCRIPTION}}:</h4>                     
                        <p>{{item.description}}</p>
                    </div>
                    
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success" ng-click="gotoTop()" ui-sref="form.addcomment" >{{vm.translations.LEAVECOMMENT}}</a>
                    </div>

                    <hr>
                    <li id="comments" ng-repeat="com in comments">
                    <div class="row">
                        <span class="pull-right">{{com.date}}</span>
                        <div class="col-md-12">
                            
                            <center>{{com.name}} {{vm.translations.SAID}}:
                            <p>{{com.comment}}</p></center>
                        </div>
                    </div>
                    <hr>
                </li>
                   
                    


                </div>
                  

            </div>

        </div>

    </div>
</div>
    <!-- /.container -->